.Service { 
    margin: 0 20px;
    .ContactSectionx { 
      padding: 0px; 
      text-align: center;
  
      .Textx {  
        margin-top: 120px; 
        width: 100%; 
        text-align: center; 
        z-index: 1; 
  
        h1 { 
          font-size: 3rem; 
        } 
        
  
        
      } 
      @media (max-width: 600px){
        .Textx{
          margin-top: 160px; 
        }
        
      }
  
      .ContactButtonx { 
        background-color: #cb00c1; /* Adjust button color as needed */ 
        color: white; 
        border: none; 
        padding: 10px 20px; 
        text-transform: uppercase; 
        cursor: pointer; 
        border-radius: 5px; 
        margin: 40px 0 20px; 
      } 
      
      .MainImgx {
        display: block;
        margin: -40px auto 0;
        width: 400px;
        height: 400px;
    } 
    } 
  }
  

  .WhatsIncludedx{
    width: 300px; // Adjust the width to your desired size
    height: auto; // Maintain aspect ratio
    object-fit: contain; // Ensure the image fits within the bounds without distortion
    transition: transform 0.3s ease-in-out; // Optional: Add a smooth transition effect for resizing
    margin-top: 20px;
  }
  .WIHeadingx {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: -60px;
  }
  
  .WICardsx {
    margin: 0 30px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 20px;
  
    .Cardx {
      border: 1px solid #ccc;
      padding: 20px;
      border-radius: 5px;
      width: 150px;
      height: 150px;
      
      max-height: 250px; // Set a fixed height for all cards 
      text-align: center; // Center-align all text
      background-color: #85858566;
      &:hover {
        transform:  translateY(-5px);
        transition: transform .5s ease;
      }
      
    }
  }
  
  @media (max-width: 700px) {
    .WICardsx {
      margin: 0 150px;}
    .WICardsx {
      flex-direction: column;
      align-items: center;
      .Cardx:nth-child(2),
      .Cardx:nth-child(3),
      .Cardx:nth-child(4)  
      { margin-top: 20px;}
    }
  
  }
  @media (min-width: 701px) {
    .WICardsx {
      margin: 0px;}
  
    }
  
  
    @media (min-width: 1001px) {
      .WICardsx {
        margin: 0 100px;}
    
        .Cardx {
          width: 300px;
        }
    
      }
  
      @media (min-width: 1201px) {
        .WICardsx {
          margin: 0 150px;}
      
          .Cardx {
            width: 300px;
          }
      
        }
  