.grid-container {
  margin: 110px 25px 0px;
  display: flex;
  flex-wrap: wrap; // Allows the items to wrap onto the next line
  gap: 10px; // Optional: Adds space between grid items
}

@media (min-width: 551px) {
  .grid-container {
    margin-top: 80px;
  }
}

@media (max-width: 550px) {
  .grid-container {
    flex-direction: column; // Stack the containers vertically
    margin-right: 70px;
    margin-left: 70px;
  }
  .grid-container2{
    margin-top: -40px;
  }
}
@media (max-width: 400px) {
  .grid-container {
    flex-direction: column; // Stack the containers vertically
    margin-right: 30px;
    margin-left: 30px;
  }}

@media (min-width: 750px) {
  .grid-container {
    margin-left: calc(40px + 0.5 * (100vw - 800px));
    margin-right: calc(40px + 0.5 * (100vw - 800px));
  }
}
@media (max-width: 550px) {
  .grid-container {
    margin-top: 170px;
  }
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: none;
  }
}

.grid-container1,
.grid-container2 {
  flex: 1; // Distribute equal space between the two containers
  padding: 10px; // Optional: add some spacing inside the containers
}

.grid-item1,
.grid-item2,
.grid-item3,
.grid-item4,
.grid-item5,
.grid-item6,
.grid-item7,
.grid-item8 {
  min-width: 200px;
  max-width: 500px;
  background-color: #ffc400;
  color: #000000;
  border: 2px solid #000000;
  &:hover {
    transform: scale(1.01);
    transition: transform 0.3s ease;
  }
}

.grid-item1 {
  height: 250px;
  padding: 20px;
  text-align: center;
  margin: 10px 0px;
}

.grid-item2 {
  padding: 20px;
  height: 180px;
  text-align: center;
  margin: 10px 0px;
}

.grid-item3 {
  padding: 20px;
  text-align: center;
  height: 260px;
  margin: 10px 0px;
}

.grid-item4 {
  padding: 20px;
  height: 160px;
  text-align: center;
  margin: 10px 0px;
}

.grid-item5 {
  padding: 20px;
  height: 180px;
  text-align: center;
  margin: 10px 0px;
}

.grid-item6 {
  padding: 20px;
  text-align: center;
  height: 180px;
  margin: 10px 0px;
}

.grid-item7 {
  padding: 20px;
  height: 250px;
  text-align: center;
  margin: 10px 0px;
}

.grid-item8 {
  padding: 20px;
  height: 240px;
  text-align: center;
  margin: 10px 0px;
}


///////////////////////
/// 
/// 
/// 
/// 



.grid-item1,
.grid-item2,
.grid-item3,
.grid-item4,
.grid-item5,
.grid-item6,
.grid-item7,
.grid-item8 {
  position: relative; // Make grid items positioned relative to contain absolutely positioned elements
  min-width: 200px;
  max-width: 500px;
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #000000;
  overflow: hidden; // Ensure that any overflow content is hidden
  display: flex; // Add flexbox to center content
  align-items: center; // Center content vertically
  justify-content: center; // Center content horizontally
  &:hover {
    transform: scale(1.01);
    transition: transform 0.3s ease;
  }
}

.grid-item1 .image img,
.grid-item2 .image img,
.grid-item3 .image img,
.grid-item4 .image img,
.grid-item5 .image img,
.grid-item6 .image img,
.grid-item7 .image img,
.grid-item8 .image img {
  position: absolute; // Position images absolutely within the grid items
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; // Ensure images cover the entire area of their container
  opacity: 0.3; // Make images slightly transparent
  z-index: 0; // Place images behind the text
}

.grid-item1 span,
.grid-item2 span,
.grid-item3 span,
.grid-item4 span,
.grid-item5 span,
.grid-item6 span,
.grid-item7 span,
.grid-item8 span {
  position: relative; // Ensure text stays above the image
  z-index: 1; // Place text above the image
  font-size: 25px;
  font-weight: bold;
  display: block;
  text-align: center; // Center the text horizontally
}
