.grid-container {
  margin: 110px 25px 0px;
  display: flex;
  flex-wrap: wrap; // Allows the items to wrap onto the next line
  gap: 10px; // Optional: Adds space between grid items
}

@media (max-width: 647px) {
  .grid-container {
    margin-top: 140px;
  }
}

@media (max-width: 519.5px) {
  .grid-container {
    margin-top: 170px;
  }
}

@media (max-width: 550px) {
  .grid-container {
    flex-direction: column; // Stack the containers vertically
    margin-right: 70px;
    margin-left: 70px;
  }
  .grid-container2{
    margin-top: -40px;
  }
}
@media (max-width: 400px) {
  .grid-container {
    flex-direction: column; // Stack the containers vertically
    margin-right: 30px;
    margin-left: 30px;
  }}

@media (min-width: 750px) {
  .grid-container {
    margin-left: calc(40px + 0.5 * (100vw - 800px));
    margin-right: calc(40px + 0.5 * (100vw - 800px));
  }
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: none;
  }
}

.grid-container1,
.grid-container2 {
  flex: 1; // Distribute equal space between the two containers
  padding: 10px; // Optional: add some spacing inside the containers
}

.grid-item1,
.grid-item2,
.grid-item3,
.grid-item4,
.grid-item5,
.grid-item6,
.grid-item7,
.grid-item8 {
  min-width: 200px;
  max-width: 500px;
  background-color: #ffc400;
  color: #000000;
  border: 2px solid #000000;
  &:hover {
    transform: scale(1.01);
    transition: transform 0.3s ease;
  }
}

.grid-item1 {
  height: 250px;
  padding: 20px;
  text-align: center;
  margin: 10px 0px;
}

.grid-item2 {
  padding: 20px;
  height: 180px;
  text-align: center;
  margin: 10px 0px;
}

.grid-item3 {
  padding: 20px;
  text-align: center;
  height: 260px;
  margin: 10px 0px;
}

.grid-item4 {
  padding: 20px;
  height: 160px;
  text-align: center;
  margin: 10px 0px;
}

.grid-item5 {
  padding: 20px;
  height: 180px;
  text-align: center;
  margin: 10px 0px;
}

.grid-item6 {
  padding: 20px;
  text-align: center;
  height: 180px;
  margin: 10px 0px;
}

.grid-item7 {
  padding: 20px;
  height: 250px;
  text-align: center;
  margin: 10px 0px;
}

.grid-item8 {
  padding: 20px;
  height: 240px;
  text-align: center;
  margin: 10px 0px;
}
