.HomePage { 
  margin: 0 20px;
  .ContactSection { 
    padding: 0px; 
    text-align: center;

    .Text {  
      margin-top: 140px; 
      width: 100%; 
      text-align: center; 
      z-index: 1; 

      h1 { 
        font-size: 3rem; 
      } 

      
    } 
    @media (max-width: 600px){
      .Text{
        margin-top: 160px; 
      }
      
    }

    .ContactButton { 
      background-color: #cb00c1; /* Adjust button color as needed */ 
      color: white; 
      border: none; 
      padding: 10px 20px; 
      text-transform: uppercase; 
      cursor: pointer; 
      border-radius: 5px; 
      margin: 40px 0 20px; 
    } 
  } 
}


///////////////////////
//////////////////////
/// Companies
/// ////////////for anyone or me (Saahen S. Mishra) in future
/// trying to edit this section
/// DON'T
/// atleast keep a copy of code
/// keep image same resolution
/// and then add/ edit the image
/// Do resolution/code changes only iif you understand math
/////////////////////////////////////////////////

.CompaniesHeading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: -60px;
}

.CompaniesSlider {
  width: 300px; // Adjust the width to your desired size
  height: auto; // Maintain aspect ratio
  object-fit: contain; // Ensure the image fits within the bounds without distortion
  transition: transform 0.3s ease-in-out; // Optional: Add a smooth transition effect for resizing
  margin-top: 20px;
}


.tech-slideshow {
  height: 142px; // 288 /2 = 142
  max-width: 800px;
  margin: 100px auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.tech-slideshow > div {
  height: 284px;
  width: 2526px;
  background: url(https://i.postimg.cc/sgMQM35z/comp.jpg);
  
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
}
.tech-slideshow .mover-1 {
  animation: moveSlideshow 12s linear infinite;
}
.tech-slideshow .mover-2 {
 
  animation: moveSlideshow 12s linear infinite;
}


@keyframes moveSlideshow {
  100% { 
    transform: translateX(-50.666666%);  
  }
}


///////////////////////////////////////
/// WIHeading
/// 
.WhatsIncluded{
  width: 300px; // Adjust the width to your desired size
  height: auto; // Maintain aspect ratio
  object-fit: contain; // Ensure the image fits within the bounds without distortion
  transition: transform 0.3s ease-in-out; // Optional: Add a smooth transition effect for resizing
  margin-top: 20px;
}
.WIHeading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: -60px;
}

.WICards {
  margin: 0 30px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 20px;

  .Card {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    width: 250px;
    height: 200px; // Set a fixed height for all cards 
    text-align: center; // Center-align all text
    background-color: #85858566;
    &:hover {
      transform:  translateY(-5px);
      transition: transform .5s ease;
    }
    
  }
}

@media (max-width: 1000px) {
  .WICards {
    margin: 0 150px;}
  .WICards {
    flex-direction: column;
    align-items: center;

    .Card {
      width: 80%;
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 700px) {
  .WICards {
    margin: 0 150px;}
  .WICards {
    flex-direction: column;
    align-items: center;

    .Card {
      width: 120%;
      margin-bottom: 20px;
    }
  }
}



//////////////////////
/// Offer
.Offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  .OfferMiddle3DImage
  {
    @media (min-width: 701px) {
      position: absolute;
      width:400px;
      margin: 80px auto 0;
      display: block;
      height: auto; /* Maintains the aspect ratio */

    }
    @media (max-width: 700px) {
      display: none;
    }
  }


  .offerContainer {
    margin-top: 0px;
    display: flex;
    justify-content: space-between;

    .offerColumn {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      

      div[class^="Cardof"] {
        margin: 10px;
        padding: 20px;
        border-radius: 50%;
        text-align: center;
        transition: transform 0.3s ease-in-out;
        height: 100px;
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 700px) {
          height: 90px;
          width: 110px;
          border-radius: 0; /* Remove the circle shape */
          margin: 10px; /* Add some spacing between the boxes */
        }

        

        h2 {
          font-size: 1em;
          color: #ffffff;
          margin: 0;
          padding: 0;
        }

        &.Cardof0, &.Cardof2
        {

          @media (max-width: 700px) {
            margin-left: 120px;
          }
        }
        &.Cardof1{
          @media (max-width: 700px) {
            margin-left: 120px;
          }
        }


        &.Cardof3, &.Cardof5
        {
          @media (max-width: 700px) {
            margin-right: 120px;
          }
        }
        &.Cardof4{
          @media (max-width: 700px) {
            margin-right: 120px;
          }
        }

        &.Cardof0, &.Cardof1, &.Cardof2  {
          background: #006adc; // Blue
          margin-top: 70px;
          
        }

        &.Cardof1, &.Cardof2  {
          @media (max-width: 700px) {
            margin-top: 10px;
          }
        }

        &.Cardof3, &.Cardof4,  &.Cardof5 {
          background: #ff0080; // Pink
          margin-top: 70px;
        }

        &.Cardof4,  &.Cardof5 {

          @media (max-width: 700px) {
            margin-top: 10px;
          }
        }

        &:hover {
            transform: scale(1.02) translateY(-5px);
          
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        }

        &.Cardof0{
          @media (min-width: 701px) {
            position: relative;
            margin-top: 50px;
            margin-left: -120%;
            
          }

        }
        &.Cardof1{
          @media (min-width: 701px) {
            position: relative;
            margin-top: 50px;
            margin-right: 260%;
            
          }
          
          

        } 
        &.Cardof2{
          @media (min-width: 701px) {
            position: relative;
            margin-top: 50px;
            margin-left: -120%;
          }

        }
        &.Cardof3{
          @media (min-width: 701px) {
            position: relative;
            margin-top: 50px;
            margin-right: -120%;}


        }
        &.Cardof4{
          @media (min-width: 701px) {
            position: relative;
            margin-top: 50px;
            margin-left: 260%;
            
          }

        } 
        &.Cardof5{

          @media (min-width: 701px) {
            position: relative;
            margin-top: 50px;
            margin-right: -120%;
          }
          
        }



      }
    }
  }
}




////////////////////////////
/// Proud to have
.Why-select-us {
  
  
  .Reasons {
    display: flex;
    justify-content: center;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      overflow: hidden;
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 45px;
        white-space: nowrap;

        @media (max-width:900px) {
          margin: 0 35px;
        }
        @media (max-width:800px) {
          margin: 0 30px;
        }
        @media (max-width:750px) {
          margin: 0 20px;
        }
        
        
        .count {
          font-size: 45px;
          background: linear-gradient(90deg, #ff2200, #f17800);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          margin-bottom: 5px;
          font-weight: bold;

          @media (max-width:800px) {
            font-size: 35px;
          }
          @media (max-width:700px) {
            font-size: 30px;
          }
        }

        .text {
          font-size: 15px;
          text-align: center;
        }
      }
    }
  }
}


///////////////////
/// ///////
/// Price
.estmp {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 50px;

  h3 {
    font-size: 1.5rem;
  }
}

.coolor {
  .service-selector {
    margin-bottom: 20px;

    .service-label {
      display: block;
      margin-bottom: 5px;
      font-size: 1rem;
    }

    .service-dropdown {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 1rem;

      &:focus {
        border-color: #007bff;
        outline: none;
      }
    }
  }

  .slider-container {
    margin-bottom: 20px;

    .slider-label {
      display: block;
      margin-bottom: 5px;
      font-size: 1rem;
    }

    .word-slider {
      width: 100%;
      height: 8px;
      border-radius: 5px;
      appearance: none;
      outline: none;
      border: 2px solid black;

      &::-webkit-slider-thumb {
        appearance: none;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        background: #007bff;
        cursor: pointer;
      }

      &::-moz-range-thumb {
        width: 17px;
        height: 17px;
        border-radius: 50%;
        background: #007bff;
        cursor: pointer;
      }
    }
  }

  .total-display {
    text-align: center;

    .total-text {
      font-size: 1.25rem;

      $gradient: linear-gradient(to right, #ff2200, #f17800);
      .price {
        background: $gradient;
        -webkit-background-clip:text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        font-size: 2rem;
        font-weight: bold;
        color:#540048
      }
    }
  }
}




/////////////////////////////////////////
/////////////////////////////////////////
/// Feedback
// SCSS for WriteOn carousel
// SCSS for WriteOn carousel with animation
.feedback-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  
  overflow: hidden;

  .feedback-title {
    text-align: center;
    h3 {
      font-size: 2rem;
      margin: 0;
    }
  }

  .feedback-collage {
    display: flex;
    flex-wrap: nowrap;
    gap: 25px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 20px 40px;
    background: #ced8ff;

    &:hover {
      .feedback-item {
        animation-play-state: paused;
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }

    .feedback-item {
      flex: 0 0 80%; // Show one item at a time in smaller screens
      max-width: 400px;
      background: white;
      border-radius: 10px;
      overflow: hidden;
      position: relative;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
      animation: to-and-fro 3s ease-in-out infinite;
      animation-play-state: running;

      &:hover {
        scale: 1.02;
      }

      

      .feedback-bg {
        width: 100%;
        height: 150px;
        object-fit: cover;
        
      }

      .feedback-content {
        padding: 15px;
        p {
          font-size: 0.9rem;
          line-height: 1.5;
          margin: 10px 0;
          color: #000000;

          &:last-child {
            font-weight: bold;
            text-align: right;
            color: #1d1212;
          }
        }
      }
    }
  }

  @media (min-width: 800px) {
    .feedback-collage {
      gap: 30px;

      .feedback-item {
        flex: 0 0 30%; // Show multiple items on larger screens
      }
    }
  }

  @keyframes to-and-fro {
    0%, 100% {
      transform: translateX(15px);
    }
    50% {
      transform: translateX(-15px);
    }
  }
}



/////////////////////////////////////////
/// FAQS
.faqs-section {
  width: 100%;
  margin: 0 auto;
  text-align: center;

  .faqs-title {

    margin: 30px 0;
  }

  .All-FAQ-Content {
    display: flex;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 5%;
    text-align: left;
  }
    .FAQImage {
    flex: 0 0 30%;
    max-width: 30%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    @media (max-width: 700px) {
      display: none;
    }


  }

  .faqs-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .faq-toggle {
      display: none;
    }

    .faq-question {
      display: inline-block;
      width: 100%;
      padding: 15px;
      font-size: 1rem;
      background-color: #000000;
      color: white;
      text-align: left;
      border-radius: 5px;
      margin: 5px 0;
      cursor: pointer;
      transition: background-color 0.3s;
      border: 2px solid #000000;

      &:hover {
        background-color: #ffffff;
        color: #000000
      }
    }

    .faq-answer {
      max-height: 0;
      overflow: hidden;
      padding: 0;
      background-color: #85858666;
      border: 2px solid #000000;
      
      font-size: 1rem;
      border-radius: 5px;
      margin: 5px 0;
      transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
      text-align: justify;
      width: 100%;
    }

    .faq-toggle:checked + .faq-question + .faq-answer {
      max-height: 500px; // Adjust this to the max content height
      padding: 10px;     // Padding only appears when expanded
    }

    // Avoid padding interfering with transition during collapse
    .faq-answer:not(:first-child) {
      transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
    }
  }
}


//////////////////////
/// ///////////////
/// Footer

.vep-footer {
  margin-top: 20px;
  background-color: #b2b2b2;
  padding: 10px 20px; /* Add padding for spacing */
  display: flex;
  color: #000000;
  justify-content: space-between; /* Space out left, center, and right sections */
  align-items: center; /* Align all sections vertically center */
  font-size: 14px;

  /* Left Section */
  .vep-footer-left {
    text-align: left;

    .vep-tagline {
      font-size: 32px;
      font-style: italic;
      margin-bottom: 8px;
    }

    p {
      margin: 0; /* Remove default margins */
    }
  }

  /* Center Section */
  .vep-footer-center {
    display: flex;
    justify-content: center; /* Center-align the icons */
    align-items: center; /* Vertically align icons */
    gap: 20px; /* Space between icons */

    .vep-social-icons {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .vep-social-icon {
        width: 24px;
        height: 24px;

        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  /* Right Section */
  .vep-footer-right {
    text-align: right;

    strong {
      display: block;
      font-size: 30px;
      margin-bottom: 25px;
    }

    .vep-footer-link {
      color: #000000;
      text-decoration: none;
      line-height: 25px;

      &:hover {
        color: #272727;
        text-decoration: underline;
        font-weight: bold;
      }
    }

    p {
      margin: 0; /* Remove default margins */
    }
  }
}




/// 
/// //////////////////////////////////////


  @media (max-width: 1000px) {
    .vep-service {
      flex-direction: column;
      margin-top: -40px;
    }
    .vep-service-image {
      margin-top: 0px; margin-bottom: -30px;}


  }

