.Navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 1px 7%;
  transition: 0.5s;
  position: fixed;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.Logo {
  width: 160px;
  cursor: pointer;
  @media (max-width: 450px) {
    width: 80px;
    height: auto;
  }
}

ul {
  flex: 1;
  list-style: none;
  text-align: center;
}

ul li {
  display: inline-block;
  margin: 10px 20px;
  font-size: 18px;
  line-height: 15px;
  cursor: pointer;
  &:hover {
    scale: 1.1;
    transform: translateY(-1px);
    transition: all 0.15s ease;
  }
}

.Toggle-Icon {
  width: 40px;
  cursor: pointer;
  margin-left: 40px;
  height: auto;
  @media (max-width: 450px) {
    margin-left: 20px;
  }
}

.container.dark .Navbar {
  background: #000;
  color: #fff;
}

/* Services Box Styles */
.services-box {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  color: white;
  z-index: 10;
  padding: 20px 0;
}

.services-box.light {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
}

.services-box.dark {
  background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 620px) {
  .services-box {
    top: 0;
    margin-top: 100px;
  }
}

.services-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.service-item {
  background-color: #000000;
  padding: 15px 10px;
  border-radius: 5px;
  border: 3px solid black;
  text-align: center;
  width: 150px;
  color: white;
  cursor: pointer;
  white-space: nowrap; /* Prevent line breaks */
}

.service-item:hover {
  transform: scale(1.02);
}

.service-item.dark:hover {
  background-color: #ffffff;
  color: black;
}

.service-item.light:hover {
  background-color: #ffffff;
  color: #000000;
}

@media (max-width: 1350px) {
  .services-grid {
    display: grid;
    margin: 0 250px;
    grid-template-columns: repeat(4, 2fr);
    justify-items: center;
  }
}

@media (max-width: 680px) {
  .services-grid {
    display: grid;
    margin: 0 150px;
    grid-template-columns: repeat(2, 4fr);
    justify-items: center;
  }
}

/* Media query for ul flex direction column */
@media (max-width: 650px) {
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  ul li {
    display: block;
    margin: 10px 0;
  }
}

/* Navbar.css */

/* Reset the link styles */
.Navbar ul li a {
  text-decoration: none;
  color: inherit;
}

.Navbar ul li {
  cursor: pointer;
}

.Navbar ul li:hover,
.Navbar ul li a:hover {
  text-decoration: none;
  color: inherit;
}

.Navbar ul li.active a {
  text-decoration: underline;
}

.Navbar ul li.active {
  text-decoration: underline;
}

.services-grid .service-item.active {
  text-decoration: underline;
}

.Navbar ul li a,
.services-grid .service-item {
  text-decoration: none;
}
