* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  

}

.container {
  width: 100vw;
  min-height: 100vh;
  background: #ffffff;
  transition: 0.5s;
  overflow-y: overlay;  /* best thing ever   #ced8ff;*/
}

.container.dark {
  background: #212121;
  color: #fff;
}


/*Customize the scrollbar appearance */
::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
